.CountryItem section {
  padding-block-start: 30px;
  padding-inline: 25px;
}

.CountryItem img {
  border-radius: 5px 5px 0px 0px;
}

.CountryItem p {
  font-size: 1.5rem;
}

.CountryItem h2 {
  margin-block-end: 22px;
}

.CountryItem p span:first-of-type {
  font-weight: 600;
}
.CountryItem p span:last-of-type {
  font-weight: 100;
}

.width264 {
  inline-size: 264px;
}
.height160 {
  block-size: 160px;
}
.height336 {
  block-size: 336px;
}
