.filter {
  position: relative;
}

.filter:hover {
  cursor: pointer;
}

.filter:hover .listFilter {
  display: flex;
}

.buttonFilter {
  font-size: 1.3rem;
  padding-block-start: 18.5px;
  padding-block-end: 17.5px;
  padding-inline-start: 24px;
  padding-inline-end: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  block-size: 46px;
}

.listFilter {
  display: none;
  margin-block-start: 4px;
  padding-block: 20px;
  padding-inline: 24px;
  list-style: none;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
}

.filter li {
  width: 100%;
}

.filter li:hover {
  box-shadow: -1px 2px 5px 5px rgb(189 180 180 / 8%);
}

.width200 {
  inline-size: 200px;
}

@media screen and (min-width: 768px) {
  .buttonFilter {
    padding-block-start: 19px;
    font-size: 1.35rem;
  }

  .listFilter {
    gap: 15px;
  }
}
