* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

:root {
  /*LightMode*/
  --VeryDarkBlue-LightModeText: hsl(200, 15%, 8%);
  --DarkGray-LightModeInput: hsl(0, 0%, 52%);
  --VeryLightGray-LightModeBackground: hsl(0, 0%, 98%);
  --White-DarkModeTextYLightModeElements: hsl(0, 0%, 100%);
  --DarkBlue-DarkModeElements: hsl(209, 23%, 22%);
  --VeryDarkBlue-DarkModeBackground: hsl(207, 26%, 17%);
  --MobileBodyPaddingInline: clamp(16px, 4%, 80px);
  --DesktopBodyPaddingInline: clamp(16px, 5.6%, 80px);

  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
}

::placeholder {
  color: inherit;
}

svg {
  fill: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--VeryLightGray-LightModeBackground);
  color: var(--VeryDarkBlue-LightModeText);
  fill: var(--VeryDarkBlue-LightModeText);
}

body.darkMode {
  background-color: var(--VeryDarkBlue-DarkModeBackground);
  color: var(--White-DarkModeTextYLightModeElements);
  fill: var(--White-DarkModeTextYLightModeElements);
}

input {
  color: var(--DarkGray-LightModeInput);
  background-color: transparent;
}
input.darkMode {
  color: var(--White-DarkModeTextYLightModeElements);
}

.element {
  background-color: var(--White-DarkModeTextYLightModeElements);
  box-shadow: -1px 2px 5px 5px rgb(189 180 180 / 8%);
  border-radius: 5px;
}
.element.darkMode {
  background-color: var(--DarkBlue-DarkModeElements);
  color: var(--White-DarkModeTextYLightModeElements);
  box-shadow: unset;
}

button {
  background-color: var(--White-DarkModeTextYLightModeElements);
  box-shadow: 0px 0px 5px 3px rgb(21 21 21 / 8%);
  border-radius: 2px;
  padding-block: 5px;
  padding-inline: 16px;
  border: 0px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
button.darkMode {
  background-color: var(--DarkBlue-DarkModeElements);
  color: var(--White-DarkModeTextYLightModeElements);
}

button:hover {
  box-shadow: inset 0px 0px 5px 3px rgb(21 21 21 / 8%);
}

button.darkMode:hover {
  background-color: var(--DarkGray-LightModeInput);
}

li {
  list-style: none;
}
