.Country {
  padding-inline: var(--MobileBodyPaddingInline);
  padding-block-start: 24px;
}

.Country > button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Country > button svg {
  height: 18px;
}

.Country article {
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Country article img {
  width: -webkit-fill-available;
  width: -moz-available;
}

.Country h2 {
  font-weight: 700;
  font-size: 2.3rem;
  margin-block-end: 30px;
}

.Country section {
  margin-block-end: 30px;
}

.Country section ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-block-end: 30px;
}

.Country section ul li {
  font-size: 1.4rem;
  list-style: none;
}

.Country li span:first-of-type {
  font-weight: 600;
}

.Country section > div {
  font-size: 1.45rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Country section div h3 {
  font-weight: 600;
  font-size: 1.65rem;
}

.Country section div div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .Country {
    padding-inline: var(--DesktopBodyPaddingInline);
    padding-block-start: 40px;
  }

  .Country article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Country h2 {
    font-size: 2.6rem;
    grid-column: 1/3;
  }

  .Country article {
    gap: 120px;
  }

  .Country article img {
    max-width: 560px;
    width: 100%;
  }

  .Country section {
    margin-block-end: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .Country section ul {
    gap: 20px;
    margin-block-end: 40px;
  }

  .Country li span:first-of-type {
    font-size: 1.6rem;
  }

  .Country section > div {
    font-size: 1.7rem;
    grid-column: 1/3;
  }

  .Country section div h3 {
    font-size: 1.9rem;
  }

  .Country section div div {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .Country section > div {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .Country section div div {
    display: flex;
    flex-wrap: wrap;
  }
}
