header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  padding-block: 34.5px;
  box-shadow: 1px 2px 5px 0px rgb(153 149 149 / 20%);
  background-color: var(--White-DarkModeTextYLightModeElements);
}

header h1 {
  font-size: 1.4rem;
}

header p {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

header svg {
  width: 12.5px;
  height: 12.5px;
}
