header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--MobileBodyPaddingInline);
  padding-block-start: 5.5px;
  box-shadow: 1px 2px 5px 0px rgb(153 149 149 / 20%);
  block-size: 80px;
}

header h1 {
  font-size: 1.4rem;
}

header p {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

header p:hover {
  cursor: pointer;
}

header svg {
  width: 12.5px;
  height: 12.5px;
}

@media screen and (min-width: 768px) {
  header {
    padding-inline: var(--DesktopBodyPaddingInline);
  }
  header h1 {
    font-size: 2.35rem;
  }
  header p {
    font-size: 1.4rem;
  }
  header svg {
    width: 18px;
    height: 18px;
  }
}
